@charset "UTF-8";

header{
    font-size: 1.9rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: khaki;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);
    border-radius: 5%;

}

footer{
    text-align: center;
    font-size: 1.1rem;
}